
<!--<input type="button" class="btn btn-primary" value="Add New task"
       ng-click="showCreateTaskForm()" />
<br/>
<br/>
-->

<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        Task Lists
       </div>

    <div class="panel-body">
        <table class="table" ng-controller="taskController as vm">
           <thead>
                <tr>
                    <td>Job</td>
                    <td>Code</td>
                    <td>StartDate</td>
                    <td>EndDate</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in vm.jobs">
                    <td>{{job.name}}</td>
                    <td>{{ job.jobID }}</td>
                    <td>{{ job.startDate }}</td>
                    <td>{{ job.endDate }}</td>
                    <td>{{job.status}}</td>
                    <td>{{job.comment}}</td>
                    <!--<td><a href="/updateTaskForm/{{job.jobID}}" class="btn btn-info">Edit Task</a></td>-->
                    <td><input type="button" class="btn btn-primary" value = "Edit Task" ng-click="vm.showUpdateTask(job.jobID)" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>