@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html ng-app="taskApp">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/taskapp/style")
    @Scripts.Render("~/bundles/taskapp/script")
</head>

<body class="container">
    <br />
    <div ng-view></div>
</body>
</html>
